html {
	height: 100%;
	}

body {
	background-image: url('../images/texturetastic_gray.jpg');
	background-attachment: fixed;
	/*background-color: lightgray;*/
	min-height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	margin: 0;
	}

/* Old Navigation

iv#nav {
background-color: #333;
width: 120%;
min-height: 40px;
margin-left: -20px;
color: gray;
font-size: 1.5em;
}

div#nav ul {
margin-top: -10px;
margin-left: -1095px;
margin-bottom: -10px;
padding-top: 5px;
}
div#nav li{
line-height: 10px;
margin-top: 80px;
font-size: 18px;
list-style: none;
display: inline;
padding-top: 30px;
padding-right: 10px;
padding-left: 5px;
border-right: 1px solid #000000;
}	

div#nav li:last-child {
border-right: none;
}

/*div#header {
width: 120%;
min-height: 40px;
margin-left: -30px;
background-color: #333;
}*/

div#nav {
width: 100%;
list-style: none;
background-color: #333;
height: 60px;
}
div#nav ul{
margin-top: 0;
padding-left: 0;
margin: 0 auto;
text-align: center;
padding-top: 3px;
}
div#nav li {
display: inline;
width: 100%;
}

div#nav li a {
color: #ccc;
padding: 21px 15px;
text-decoration: none;
}

div#nav li a:hover {
color: #808080;
opacity: 1;
}

.social {
bottom: -10px;
position: relative;
opacity: 0.3;
padding: 0;
}

.social img {
padding-left: 0;
}
.social img:hover {
opacity: 1;
}


div#bodywrapper {
width:960px;
margin: 0 auto;
background-color: white;
text-align: left;
min-height: 538px;
box-shadow: 3px 3px 15px #999;
padding-bottom: 30px;
}

div#mainwrapper {
width: 900px;
margin-left: 30px;
}

div#featurepic {
position: relative;
margin-left: 574px;
margin-top: -115px;
}

div#about {
width: 500px;
margin-top: -465px;

}

div#about h2 {
margin-bottom: 0px;
font-style: italic;
font-size: 1 em;
}

div#about p{
line-height: 20px;
}

hr {
margin-top: 5px;
}
h2 {
margin-bottom: 0px;
font-style: italic;
font-size: 1.5em;
}

h1 {
    font-size: 2.5em;
    margin-top: 0;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
	margin-bottom: 50px;
	padding-top: 30px;
	}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: darkgray;
    opacity: 1;
	}